$colorBackground-White: #ffffff;
$colorBackground-LightGrayOne: #f6f6f6;
$colorBackground-ightGrayTwo: #e1e1e1;
$colorBackground-Gray: #cccccc;

$colorFonts-White: #ffffff;
$colorFonts-MidleGrayOne: #7e7e7e;
$colorFonts-MidleGrayTwo: #666666;
$colorFonts-Gray: #444444;
$colorFonts-BlackOne: #454545;
$colorFonts-BlackTwo: #222222;
$colorFonts-Red: #cf4647;

$colorBorder-Gray: #bbbbbb;
