@import 'SCSS/fonts';
@import 'SCSS/colors';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: cadetblue;
}
header {
  display: flex;
  flex-direction: column;
}

.container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  align-items: center;
}

.header-top {
  width: 100%;
  height: 27px;
  background-color: $colorBackground-LightGrayOne;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-top-left {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      @include fontMerriweather(11px, 19px, 400);
      text-transform: uppercase;
      color: $colorFonts-MidleGrayOne;
      text-decoration: none;
      white-space: nowrap;
      &:hover {
        color: $colorFonts-Gray;
      }
    }
    .login {
      span {
        padding-left: 10px;
      }
    }
  }
  .header-top-right {
    position: relative;
    width: 32%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    select {
      @include fontMerriweather(11px, 19px, 400);
      text-transform: uppercase;
      color: $colorFonts-MidleGrayOne;
      background: none;
      border: none;
      outline: none;
    }
  }
}
.my-bag-content {
  background-color: $colorBackground-White;
  display: none;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  height: 399px;
  border: 1px solid $colorBorder-Gray;
  position: absolute;
  top: 23px;
  right: -20px;
  &::before {
    content: 'My Bag: 2 item(s)';
    display: block;
    width: 132px;
    height: 27px;
    background-color: $colorBackground-White;
    position: absolute;
    top: -28px;
    right: -1px;
    border: 1px solid $colorBorder-Gray;
    border-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .my-bag-title {
    @include fontArial(14px, 18px, 400);
    text-transform: none;
    color: $colorFonts-MidleGrayOne;
    padding-bottom: 17px;
  }
  .my-bag-card {
    display: flex;
    margin-bottom: 20px;
    height: 104px;
    .bag-card-image {
      min-width: 80px;
      background-color: $colorBackground-Gray;
      @include fontArial(13px, 22px, 700);
      text-transform: uppercase;
      color: $colorFonts-White;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }
    .bag-product-name {
      @include fontMerriweather(13px, 17px, 400);
      text-transform: none;
      color: $colorFonts-Gray;
      padding-bottom: 13px;
    }
    .bag-product-price {
      @include fontCousine(14px, 17px, 700);
      color: $colorFonts-BlackTwo;
      span {
        color: $colorFonts-MidleGrayOne;
        text-decoration: line-through;
      }
    }
  }
  .my-bag-total {
    display: flex;
    justify-content: space-between;
    padding-bottom: 11px;
    p {
      @include fontCousine(13px, 18px, 700);
      text-transform: uppercase;
      color: $colorFonts-MidleGrayTwo;
      span {
        @include fontCousine(15px, 18px, 700);
        color: $colorFonts-BlackTwo;
      }
    }
  }
  .my-bag-content-links {
    height: 30px;
    background-color: $colorBackground-LightGrayOne;
    border: 2px solid $colorFonts-Gray;
    display: flex;
    align-items: center;
    a {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      @include fontMerriweather(13px, 0, 700);
      text-transform: uppercase;
      color: $colorFonts-Gray;
      &:hover {
        color: $colorFonts-Red;
      }
    }
    .line {
      width: 2px;
      height: 16px;
      background-color: $colorFonts-Gray;
    }
  }
}
.my-bag {
  @include fontMerriweather(11px, 19px, 400);
  text-transform: uppercase;
  color: $colorFonts-MidleGrayOne;
  .my-bag-name {
    white-space: nowrap;
  }

  &:hover {
    cursor: pointer;
  }
  &:hover .my-bag-content {
    display: flex;
    z-index: 12;
  }
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 18;
  font-size: 18px;
  padding-left: 19px;
}

.header-buttom {
  position: relative;
  width: 100%;
  height: 103px;
  background-color: $colorBackground-White;
  .select-buttom {
    display: none;
    select {
      @include fontMerriweather(11px, 19px, 400);
      text-transform: uppercase;
      color: $colorFonts-MidleGrayOne;
      background: none;
      border: none;
      outline: none;
    }
  }
  .register {
    display: none;
    place-content: center;
    .login {
      @include fontMerriweather(11px, 19px, 400);
      text-transform: uppercase;
      color: $colorFonts-MidleGrayOne;
      text-decoration: none;
      white-space: nowrap;
      &:hover {
        color: $colorFonts-Gray;
      }
      span {
        padding-left: 10px;
      }
    }
  }
  .header-buttom-container {
    position: relative;
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    padding-inline: 20px;
    display: grid;
    grid-template-columns: 215px auto;
    grid-template-rows: repeat(2, 1fr);
  }
}
.header-buttom_my-bag {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  .header-buttom-navigation {
    display: flex;
    align-items: center;
    gap: 10px;
    .catalog-button {
      border: none;
      background-color: transparent;
      &:hover {
        cursor: pointer;
        .catalog-menu {
          display: block;
        }
      }
      &:active .catalog-menu {
        display: block;
      }
    }
    h3 {
      @include fontCousine(16px, 19px, 700);
      text-transform: uppercase;
      color: #565656;
      padding-top: 3px;
    }
  }
  .header-buttom-basket {
    display: flex;
    align-items: center;
    gap: 9px;

    p {
      @include fontCousine(16px, 19px, 400);
      text-transform: uppercase;
      color: #565656;
      padding-top: 6px;
    }
  }
}

.header-logo {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  align-items: end;
  padding-bottom: 19px;
  img {
    width: 47px;
    height: 33px;
  }
  h1 {
    @include fontMerriweather(45px, 32px, 700);
    color: $colorFonts-BlackOne;
    padding-left: 12px;
  }
}

.menu-search {
  width: 100%;
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: end;
  justify-content: end;
  form {
    display: flex;
    width: 260px;
    height: 32px;
    background-color: $colorBackground-White;
    border: 1px solid $colorBackground-ightGrayTwo;
    &:active .search-button {
      background-color: $colorBackground-ightGrayTwo;
      border: 1px solid $colorBackground-ightGrayTwo;
    }
    .search-field {
      width: 100%;
      padding: 10px 35px 10px 15px;
      border: none;
      outline: none;
      &::placeholder {
        @include fontTrebuchet(13px, 19px, 400);
        color: $colorFonts-MidleGrayOne;
      }
    }
    .search-button {
      width: 37px;
      height: 30px;
      background-color: transparent;
      border: none;
      outline: none;
      display: grid;
      place-content: center;
    }
    .search-button img {
      width: 16px;
      height: 16px;
      filter: brightness(0) saturate(100%) invert(59%) sepia(15%)
        saturate(15%) hue-rotate(325deg) brightness(88%) contrast(90%);
    }
  }
}

.header-menu {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: flex-end;
  .header-menu-list {
    width: 75%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    li {
      list-style: none;
      height: 100%;
      display: flex;
      align-items: center;
      a {
        @include fontCousine(14px, 19px, 700);
        text-transform: uppercase;
        color: $colorFonts-Gray;
        text-decoration: none;
        white-space: nowrap;
      }
    }
  }
  .fashion:hover .fashion-box {
    display: grid;
  }
}

.fashion-box {
  position: absolute;
  top: 103px;
  left: 20px;
  width: calc(100% - 40px);
  height: 483px;
  background-color: $colorBackground-White;
  border: 1px solid $colorBorder-Gray;
  padding: 40px 15px;
  display: none;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: 1fr 130px;
  row-gap: 60px;
  column-gap: 42px;
  .block-image {
    background-color: $colorBackground-Gray;
  }
  .clothing {
    grid-area: 1 / 1 / 2 / 4;
  }
  .shoes {
    grid-area: 1 / 4 / 2 / 7;
  }
  .accessories {
    grid-area: 1 / 7 / 2 / 10;
  }
  .sports {
    grid-area: 1 / 10 / 2 / 13;
  }
  .dresses {
    grid-area: 1 / 13 / 2 / 16;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    h1 {
      @include fontMerriweather(25px, 25px, 800, 0.025em);
      text-transform: uppercase;
      color: $colorFonts-White;
    }
    h2 {
      @include fontRoboto(20px, 17px, 700);
      text-transform: uppercase;
      padding-top: 10px;
      color: $colorFonts-White;
    }
    p {
      @include fontArial(13px, 25px, 700);
      text-transform: uppercase;
      color: $colorFonts-White;
      padding-top: 35px;
    }
  }
  .new-arrivals {
    grid-area: 2 / 1 / 3 / 6;
    display: flex;
    padding: 6px;
    .new-arrivals-size {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include fontArial(15px, 32px, 400);
      text-transform: uppercase;
      color: $colorFonts-White;
    }
    .new-arrivals-description {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;
      h2 {
        @include fontRoboto(20px, 32px, 700);
        text-transform: uppercase;
        color: $colorFonts-BlackTwo;
      }
      .for {
        display: flex;
        align-items: center;
        .for-line {
          width: 45px;
          height: 1px;
          border: 2px solid #000000;
        }
        p {
          @include fontMerriweather(15px, 32px, 700);
          font-style: italic;
          color: $colorFonts-BlackTwo;
          padding-inline: 10px;
        }
      }
      h1 {
        @include fontMerriweather(34px, 32px, 800);
        text-transform: uppercase;
        color: $colorFonts-BlackTwo;
      }
    }
  }
  .designer-shoes {
    grid-area: 2 / 6 / 3 / 11;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      @include fontRoboto(35px, 32px, 700);
      text-transform: uppercase;
      color: $colorFonts-White;
    }
  }
  .bags-under {
    grid-area: 2 / 11 / 3 / 16;
    display: flex;
    .bags-under-description {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        @include fontMerriweather(36px, 32px, 800);
        text-transform: uppercase;
        color: $colorFonts-White;
      }
      h2 {
        @include fontRoboto(29px, 32px, 700);
        text-transform: uppercase;
        color: $colorFonts-White;
      }
    }
  }
  &__nav {
    h3 {
      display: flex;
      @include fontCousine(15px, 19px, 700);
      text-transform: uppercase;
      color: $colorFonts-MidleGrayTwo;
      padding-bottom: 12px;
      span {
        width: 100%;
        border-bottom: 1px solid $colorBackground-ightGrayTwo;
      }
    }
    .fashion-box__nav-list {
      list-style: none;
      li {
        a {
          @include fontArial(14px, 30px, 400);
          color: $colorFonts-MidleGrayTwo;
          text-decoration: none;
          text-transform: none;
          &:hover {
            color: $colorFonts-Red;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 980px) and (min-width: 760px) {
  .header-top {
    .header-top-left {
      .login {
        span {
          display: none;
        }
      }
    }
    .header-top-right {
      width: 40%;
    }
  }
  .header-menu {
    .header-menu-list {
      width: 95%;
    }
  }
  .fashion-box {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    row-gap: 44px;
    li a span {
      display: none;
    }
    .dresses {
      display: none;
    }
    .new-arrivals {
      grid-area: 1 / 1 / 2 / 4;
    }
    .shoes {
      grid-area: 1 / 4 / 2 / 7;
    }
    .accessories {
      grid-area: 1 / 7 / 2 / 10;
    }
    .sports {
      grid-area: 1 / 10 / 2 / 13;
    }
    .new-arrivals {
      grid-area: 2 / 1 / 3 / 5;
      padding: 6px;
      .new-arrivals-size {
        display: none;
      }
      .new-arrivals-description {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        h2 {
          @include fontRoboto(17px, 26px, 700);
        }
        .for {
          .for-line {
            width: 37px;
            height: 1px;
            border: 1px solid #000000;
          }
          p {
            @include fontMerriweather(13px, 26px, 700);
            padding-inline: 8px;
          }
        }
        h1 {
          @include fontMerriweather(28px, 26px, 800);
        }
      }
    }
    .designer-shoes {
      grid-area: 2 / 5 / 3 / 9;
      display: grid;
      place-content: center;
      h1 {
        @include fontRoboto(29px, 26px, 700);
        text-align: center;
      }
    }
    .bags-under {
      grid-area: 2 / 9 / 3 / 13;
      display: flex;
      .bags-under-description {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
          @include fontMerriweather(30px, 26px, 800);
        }
        h2 {
          @include fontRoboto(23px, 26px, 700);
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 764px) and (min-width: 600px) {
  .header-top {
    .header-top-left {
      min-width: 53%;
      .login {
        span {
          display: none;
        }
      }
    }
    .header-top-right {
      width: 45%;
    }
  }

  .header-buttom {
    height: 132px;
  }
  .header-logo {
    grid-area: 1 / 1 / 2 / 2;
    padding-bottom: 0;
  }
  .header-menu {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    .header-menu-list {
      width: 100%;
      display: flex;
      height: 100%;
      padding-top: 10px;
      li {
        list-style: none;
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }
  .fashion-box {
    height: 402px;
    top: 132px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 81px;
    column-gap: 25px;
    row-gap: 39px;
    li a span {
      display: none;
    }
    .dresses {
      display: none;
    }
    .new-arrivals {
      grid-area: 1 / 1 / 2 / 4;
    }
    .shoes {
      grid-area: 1 / 4 / 2 / 7;
    }
    .accessories {
      grid-area: 1 / 7 / 2 / 10;
    }
    .sports {
      grid-area: 1 / 10 / 2 / 13;
    }
    .new-arrivals {
      grid-area: 2 / 1 / 3 / 5;
      padding: 6px;
      .new-arrivals-size {
        display: none;
      }
      .new-arrivals-description {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        h2 {
          @include fontRoboto(12px, 19px, 700);
        }
        .for {
          .for-line {
            width: 29px;
            height: 1px;
            border: 1px solid #000000;
          }
          p {
            @include fontMerriweather(10px, 19px, 700);
            padding-inline: 3px;
          }
        }
        h1 {
          @include fontMerriweather(21px, 19px, 800);
        }
      }
    }
    .designer-shoes {
      grid-area: 2 / 5 / 3 / 9;
      display: grid;
      place-content: center;
      h1 {
        @include fontRoboto(22px, 19px, 700);
        text-align: center;
      }
    }
    .bags-under {
      grid-area: 2 / 9 / 3 / 13;
      display: flex;
      .bags-under-description {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
          @include fontMerriweather(22px, 19px, 800);
        }
        h2 {
          @include fontRoboto(18px, 19px, 700);
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .header-top {
    .header-top-left {
      width: 100%;
      justify-content: space-between;
      .login {
        display: none;
      }
    }
    .header-top-right {
      display: none;
    }
  }
  .header-buttom {
    height: 253px;

    .header-buttom-container {
      padding-top: 20px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
      position: relative;
      .select-buttom {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 40px;
        grid-area: 1 / 1 / 2 / 2;
      }

      .header-logo {
        align-items: center;
        justify-content: center;
        grid-area: 2 / 1 / 3 / 2;
      }
      .register {
        display: grid;
        grid-area: 3 / 1 / 4 / 2;
      }
      .menu-search {
        grid-area: 4 / 1 / 5 / 2;
        justify-content: center;
        align-items: center;
        .search-header {
          width: 280px;
          height: 38px;
          .search-button {
            width: 38px;
            height: 36px;
          }
        }
      }
      .header-menu {
        display: none;
      }
      .header-buttom_my-bag {
        display: flex;
        grid-area: 5 / 1 / 6 / 2;

        .header-buttom-basket:hover .my-bag-content {
          top: 253px;
          right: 20px;
          display: flex;
          z-index: 12;
          &::before {
            @include fontMerriweather(11px, 19px, 400);
            content: ' $376';
            top: -33px;
            width: 132px;
            height: 32px;
          }
        }
      }
    }
  }
}
.catalog-menu {
  display: none;
  top: 258px;
  position: absolute;
  width: calc(100% - 40px);
  &__details {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #bbbbbb;
    transition: 0.5s;
    summary {
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include fontCousine(14px, 19px, 700);
      text-transform: uppercase;
      background-color: $colorBackground-White;
      color: #565656;
      padding-inline: 21px;
    }
    .second-list {
      background-color: #eeeeee;
      border-bottom: 2px solid $colorBackground-White;
      &__content {
        background-color: #f5f5f5;
        list-style: none;
        a {
          @include fontArial(14px, 32px, 400);
          padding-left: 19px;
          text-decoration: none;
          color: #555555;
          &:hover {
            color: #cf4647;
          }
        }
      }
    }
  }
  details > summary::after {
    content: '';
    width: 9px;
    height: 6px;
  }
  details[open] > summary::after {
    content: '';
    width: 12px;
    height: 2px;
    background: url('./images/forms/line.png');
    background-size: cover;
  }
}
