@import 'SCSS/fonts';
@import 'SCSS/colors';
@import 'SCSS/header';
@import 'SCSS/slider';
@import 'SCSS/ad-blocks';
@import 'SCSS/product-cards';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: cadetblue;
}
