* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
}

header {
  display: flex;
  flex-direction: column;
}

.container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  align-items: center;
}

.header-top {
  width: 100%;
  height: 27px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top .header-top-left {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top .header-top-left a {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 11px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  color: #7e7e7e;
  text-decoration: none;
  white-space: nowrap;
}
.header-top .header-top-left a:hover {
  color: #444444;
}
.header-top .header-top-left .login span {
  padding-left: 10px;
}
.header-top .header-top-right {
  position: relative;
  width: 32%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top .header-top-right select {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 11px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  color: #7e7e7e;
  background: none;
  border: none;
  outline: none;
}

.my-bag-content {
  background-color: #ffffff;
  display: none;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  height: 399px;
  border: 1px solid #bbbbbb;
  position: absolute;
  top: 23px;
  right: -20px;
}
.my-bag-content::before {
  content: "My Bag: 2 item(s)";
  display: block;
  width: 132px;
  height: 27px;
  background-color: #ffffff;
  position: absolute;
  top: -28px;
  right: -1px;
  border: 1px solid #bbbbbb;
  border-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-bag-content .my-bag-title {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: none;
  color: #7e7e7e;
  padding-bottom: 17px;
}
.my-bag-content .my-bag-card {
  display: flex;
  margin-bottom: 20px;
  height: 104px;
}
.my-bag-content .my-bag-card .bag-card-image {
  min-width: 80px;
  background-color: #cccccc;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.my-bag-content .my-bag-card .bag-product-name {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  text-transform: none;
  color: #444444;
  padding-bottom: 13px;
}
.my-bag-content .my-bag-card .bag-product-price {
  font-family: "Cousine", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #222222;
}
.my-bag-content .my-bag-card .bag-product-price span {
  color: #7e7e7e;
  text-decoration: line-through;
}
.my-bag-content .my-bag-total {
  display: flex;
  justify-content: space-between;
  padding-bottom: 11px;
}
.my-bag-content .my-bag-total p {
  font-family: "Cousine", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #666666;
}
.my-bag-content .my-bag-total p span {
  font-family: "Cousine", sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #222222;
}
.my-bag-content .my-bag-content-links {
  height: 30px;
  background-color: #f6f6f6;
  border: 2px solid #444444;
  display: flex;
  align-items: center;
}
.my-bag-content .my-bag-content-links a {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 13px;
  line-height: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #444444;
}
.my-bag-content .my-bag-content-links a:hover {
  color: #cf4647;
}
.my-bag-content .my-bag-content-links .line {
  width: 2px;
  height: 16px;
  background-color: #444444;
}

.my-bag {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 11px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  color: #7e7e7e;
}
.my-bag .my-bag-name {
  white-space: nowrap;
}
.my-bag:hover {
  cursor: pointer;
}
.my-bag:hover .my-bag-content {
  display: flex;
  z-index: 12;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 18;
  font-size: 18px;
  padding-left: 19px;
}

.header-buttom {
  position: relative;
  width: 100%;
  height: 103px;
  background-color: #ffffff;
}
.header-buttom .select-buttom {
  display: none;
}
.header-buttom .select-buttom select {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 11px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  color: #7e7e7e;
  background: none;
  border: none;
  outline: none;
}
.header-buttom .register {
  display: none;
  place-content: center;
}
.header-buttom .register .login {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 11px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  color: #7e7e7e;
  text-decoration: none;
  white-space: nowrap;
}
.header-buttom .register .login:hover {
  color: #444444;
}
.header-buttom .register .login span {
  padding-left: 10px;
}
.header-buttom .header-buttom-container {
  position: relative;
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding-inline: 20px;
  display: grid;
  grid-template-columns: 215px auto;
  grid-template-rows: repeat(2, 1fr);
}

.header-buttom_my-bag {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}
.header-buttom_my-bag .header-buttom-navigation {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-buttom_my-bag .header-buttom-navigation .catalog-button {
  border: none;
  background-color: transparent;
}
.header-buttom_my-bag .header-buttom-navigation .catalog-button:hover {
  cursor: pointer;
}
.header-buttom_my-bag .header-buttom-navigation .catalog-button:hover .catalog-menu {
  display: block;
}
.header-buttom_my-bag .header-buttom-navigation .catalog-button:active .catalog-menu {
  display: block;
}
.header-buttom_my-bag .header-buttom-navigation h3 {
  font-family: "Cousine", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  color: #565656;
  padding-top: 3px;
}
.header-buttom_my-bag .header-buttom-basket {
  display: flex;
  align-items: center;
  gap: 9px;
}
.header-buttom_my-bag .header-buttom-basket p {
  font-family: "Cousine", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  color: #565656;
  padding-top: 6px;
}

.header-logo {
  grid-area: 1/1/3/2;
  display: flex;
  align-items: end;
  padding-bottom: 19px;
}
.header-logo img {
  width: 47px;
  height: 33px;
}
.header-logo h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 45px;
  line-height: 32px;
  font-weight: 700;
  color: #454545;
  padding-left: 12px;
}

.menu-search {
  width: 100%;
  grid-area: 1/2/2/3;
  display: flex;
  align-items: end;
  justify-content: end;
}
.menu-search form {
  display: flex;
  width: 260px;
  height: 32px;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
}
.menu-search form:active .search-button {
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
}
.menu-search form .search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  outline: none;
}
.menu-search form .search-field::-moz-placeholder {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  color: #7e7e7e;
}
.menu-search form .search-field::placeholder {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  color: #7e7e7e;
}
.menu-search form .search-button {
  width: 37px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  display: grid;
  place-content: center;
}
.menu-search form .search-button img {
  width: 16px;
  height: 16px;
  filter: brightness(0) saturate(100%) invert(59%) sepia(15%) saturate(15%) hue-rotate(325deg) brightness(88%) contrast(90%);
}

.header-menu {
  grid-area: 2/2/3/3;
  display: flex;
  justify-content: flex-end;
}
.header-menu .header-menu-list {
  width: 75%;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header-menu .header-menu-list li {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-menu .header-menu-list li a {
  font-family: "Cousine", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  color: #444444;
  text-decoration: none;
  white-space: nowrap;
}
.header-menu .fashion:hover .fashion-box {
  display: grid;
}

.fashion-box {
  position: absolute;
  top: 103px;
  left: 20px;
  width: calc(100% - 40px);
  height: 483px;
  background-color: #ffffff;
  border: 1px solid #bbbbbb;
  padding: 40px 15px;
  display: none;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: 1fr 130px;
  row-gap: 60px;
  -moz-column-gap: 42px;
       column-gap: 42px;
}
.fashion-box .block-image {
  background-color: #cccccc;
}
.fashion-box .clothing {
  grid-area: 1/1/2/4;
}
.fashion-box .shoes {
  grid-area: 1/4/2/7;
}
.fashion-box .accessories {
  grid-area: 1/7/2/10;
}
.fashion-box .sports {
  grid-area: 1/10/2/13;
}
.fashion-box .dresses {
  grid-area: 1/13/2/16;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.fashion-box .dresses h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 25px;
  line-height: 25px;
  font-weight: 800;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #ffffff;
}
.fashion-box .dresses h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 10px;
  color: #ffffff;
}
.fashion-box .dresses p {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 35px;
}
.fashion-box .new-arrivals {
  grid-area: 2/1/3/6;
  display: flex;
  padding: 6px;
}
.fashion-box .new-arrivals .new-arrivals-size {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.fashion-box .new-arrivals .new-arrivals-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.fashion-box .new-arrivals .new-arrivals-description h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.fashion-box .new-arrivals .new-arrivals-description .for {
  display: flex;
  align-items: center;
}
.fashion-box .new-arrivals .new-arrivals-description .for .for-line {
  width: 45px;
  height: 1px;
  border: 2px solid #000000;
}
.fashion-box .new-arrivals .new-arrivals-description .for p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 15px;
  line-height: 32px;
  font-weight: 700;
  font-style: italic;
  color: #222222;
  padding-inline: 10px;
}
.fashion-box .new-arrivals .new-arrivals-description h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 34px;
  line-height: 32px;
  font-weight: 800;
  text-transform: uppercase;
  color: #222222;
}
.fashion-box .designer-shoes {
  grid-area: 2/6/3/11;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fashion-box .designer-shoes h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 35px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.fashion-box .bags-under {
  grid-area: 2/11/3/16;
  display: flex;
}
.fashion-box .bags-under .bags-under-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fashion-box .bags-under .bags-under-description h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 36px;
  line-height: 32px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}
.fashion-box .bags-under .bags-under-description h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 29px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.fashion-box__nav h3 {
  display: flex;
  font-family: "Cousine", sans-serif;
  font-size: 15px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  color: #666666;
  padding-bottom: 12px;
}
.fashion-box__nav h3 span {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}
.fashion-box__nav .fashion-box__nav-list {
  list-style: none;
}
.fashion-box__nav .fashion-box__nav-list li a {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #666666;
  text-decoration: none;
  text-transform: none;
}
.fashion-box__nav .fashion-box__nav-list li a:hover {
  color: #cf4647;
}

@media screen and (max-width: 980px) and (min-width: 760px) {
  .header-top .header-top-left .login span {
    display: none;
  }
  .header-top .header-top-right {
    width: 40%;
  }
  .header-menu .header-menu-list {
    width: 95%;
  }
  .fashion-box {
    grid-template-columns: repeat(12, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 44px;
  }
  .fashion-box li a span {
    display: none;
  }
  .fashion-box .dresses {
    display: none;
  }
  .fashion-box .new-arrivals {
    grid-area: 1/1/2/4;
  }
  .fashion-box .shoes {
    grid-area: 1/4/2/7;
  }
  .fashion-box .accessories {
    grid-area: 1/7/2/10;
  }
  .fashion-box .sports {
    grid-area: 1/10/2/13;
  }
  .fashion-box .new-arrivals {
    grid-area: 2/1/3/5;
    padding: 6px;
  }
  .fashion-box .new-arrivals .new-arrivals-size {
    display: none;
  }
  .fashion-box .new-arrivals .new-arrivals-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
  }
  .fashion-box .new-arrivals .new-arrivals-description h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 17px;
    line-height: 26px;
    font-weight: 700;
  }
  .fashion-box .new-arrivals .new-arrivals-description .for .for-line {
    width: 37px;
    height: 1px;
    border: 1px solid #000000;
  }
  .fashion-box .new-arrivals .new-arrivals-description .for p {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 13px;
    line-height: 26px;
    font-weight: 700;
    padding-inline: 8px;
  }
  .fashion-box .new-arrivals .new-arrivals-description h1 {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 28px;
    line-height: 26px;
    font-weight: 800;
  }
  .fashion-box .designer-shoes {
    grid-area: 2/5/3/9;
    display: grid;
    place-content: center;
  }
  .fashion-box .designer-shoes h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 29px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
  }
  .fashion-box .bags-under {
    grid-area: 2/9/3/13;
    display: flex;
  }
  .fashion-box .bags-under .bags-under-description {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .fashion-box .bags-under .bags-under-description h1 {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 30px;
    line-height: 26px;
    font-weight: 800;
  }
  .fashion-box .bags-under .bags-under-description h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 23px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
  }
}
@media screen and (max-width: 764px) and (min-width: 600px) {
  .header-top .header-top-left {
    min-width: 53%;
  }
  .header-top .header-top-left .login span {
    display: none;
  }
  .header-top .header-top-right {
    width: 45%;
  }
  .header-buttom {
    height: 132px;
  }
  .header-logo {
    grid-area: 1/1/2/2;
    padding-bottom: 0;
  }
  .header-menu {
    grid-area: 2/1/3/3;
    display: flex;
  }
  .header-menu .header-menu-list {
    width: 100%;
    display: flex;
    height: 100%;
    padding-top: 10px;
  }
  .header-menu .header-menu-list li {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .fashion-box {
    height: 402px;
    top: 132px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 81px;
    -moz-column-gap: 25px;
         column-gap: 25px;
    row-gap: 39px;
  }
  .fashion-box li a span {
    display: none;
  }
  .fashion-box .dresses {
    display: none;
  }
  .fashion-box .new-arrivals {
    grid-area: 1/1/2/4;
  }
  .fashion-box .shoes {
    grid-area: 1/4/2/7;
  }
  .fashion-box .accessories {
    grid-area: 1/7/2/10;
  }
  .fashion-box .sports {
    grid-area: 1/10/2/13;
  }
  .fashion-box .new-arrivals {
    grid-area: 2/1/3/5;
    padding: 6px;
  }
  .fashion-box .new-arrivals .new-arrivals-size {
    display: none;
  }
  .fashion-box .new-arrivals .new-arrivals-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
  }
  .fashion-box .new-arrivals .new-arrivals-description h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    line-height: 19px;
    font-weight: 700;
  }
  .fashion-box .new-arrivals .new-arrivals-description .for .for-line {
    width: 29px;
    height: 1px;
    border: 1px solid #000000;
  }
  .fashion-box .new-arrivals .new-arrivals-description .for p {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 10px;
    line-height: 19px;
    font-weight: 700;
    padding-inline: 3px;
  }
  .fashion-box .new-arrivals .new-arrivals-description h1 {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 21px;
    line-height: 19px;
    font-weight: 800;
  }
  .fashion-box .designer-shoes {
    grid-area: 2/5/3/9;
    display: grid;
    place-content: center;
  }
  .fashion-box .designer-shoes h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 22px;
    line-height: 19px;
    font-weight: 700;
    text-align: center;
  }
  .fashion-box .bags-under {
    grid-area: 2/9/3/13;
    display: flex;
  }
  .fashion-box .bags-under .bags-under-description {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .fashion-box .bags-under .bags-under-description h1 {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 22px;
    line-height: 19px;
    font-weight: 800;
  }
  .fashion-box .bags-under .bags-under-description h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    line-height: 19px;
    font-weight: 700;
    text-align: center;
  }
}
@media screen and (max-width: 599px) {
  .header-top .header-top-left {
    width: 100%;
    justify-content: space-between;
  }
  .header-top .header-top-left .login {
    display: none;
  }
  .header-top .header-top-right {
    display: none;
  }
  .header-buttom {
    height: 253px;
  }
  .header-buttom .header-buttom-container {
    padding-top: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    position: relative;
  }
  .header-buttom .header-buttom-container .select-buttom {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 40px;
    grid-area: 1/1/2/2;
  }
  .header-buttom .header-buttom-container .header-logo {
    align-items: center;
    justify-content: center;
    grid-area: 2/1/3/2;
  }
  .header-buttom .header-buttom-container .register {
    display: grid;
    grid-area: 3/1/4/2;
  }
  .header-buttom .header-buttom-container .menu-search {
    grid-area: 4/1/5/2;
    justify-content: center;
    align-items: center;
  }
  .header-buttom .header-buttom-container .menu-search .search-header {
    width: 280px;
    height: 38px;
  }
  .header-buttom .header-buttom-container .menu-search .search-header .search-button {
    width: 38px;
    height: 36px;
  }
  .header-buttom .header-buttom-container .header-menu {
    display: none;
  }
  .header-buttom .header-buttom-container .header-buttom_my-bag {
    display: flex;
    grid-area: 5/1/6/2;
  }
  .header-buttom .header-buttom-container .header-buttom_my-bag .header-buttom-basket:hover .my-bag-content {
    top: 253px;
    right: 20px;
    display: flex;
    z-index: 12;
  }
  .header-buttom .header-buttom-container .header-buttom_my-bag .header-buttom-basket:hover .my-bag-content::before {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 11px;
    line-height: 19px;
    font-weight: 400;
    content: " $376";
    top: -33px;
    width: 132px;
    height: 32px;
  }
}
.catalog-menu {
  display: none;
  top: 258px;
  position: absolute;
  width: calc(100% - 40px);
}
.catalog-menu__details {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #bbbbbb;
  transition: 0.5s;
}
.catalog-menu__details summary {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Cousine", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #565656;
  padding-inline: 21px;
}
.catalog-menu__details .second-list {
  background-color: #eeeeee;
  border-bottom: 2px solid #ffffff;
}
.catalog-menu__details .second-list__content {
  background-color: #f5f5f5;
  list-style: none;
}
.catalog-menu__details .second-list__content a {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  padding-left: 19px;
  text-decoration: none;
  color: #555555;
}
.catalog-menu__details .second-list__content a:hover {
  color: #cf4647;
}
.catalog-menu details > summary::after {
  content: "";
  width: 9px;
  height: 6px;
}
.catalog-menu details[open] > summary::after {
  content: "";
  width: 12px;
  height: 2px;
  background: url("./images/forms/line.png");
  background-size: cover;
}/*# sourceMappingURL=style.css.map */