@import 'SCSS/fonts';
@import 'SCSS/colors';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
}

.header-top {
  width: 100vw;
  height: 27px;
  background-color: $colorBackground-LightGrayOne;
  display: flex;
  justify-content: center;
  .container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    .header-top-left {
      width: 56%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        @include fontMerriweather(11px, 19px, 400);
        text-transform: uppercase;
        color: $colorFonts-MidleGrayOne;
        text-decoration: none;
        &:hover {
          color: $colorFonts-Gray;
        }
      }
    }
    .header-top-right {
      position: relative;
      width: 32%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      select {
        @include fontMerriweather(11px, 19px, 400);
        text-transform: uppercase;
        color: $colorFonts-MidleGrayOne;
        background: none;
        border: none;
      }
    }
  }
}
.my-bag-content {
  background-color: $colorBackground-White;
  display: none;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  height: 399px;
  border: 1px solid $colorBorder-Gray;
  position: absolute;
  top: 27px;
  right: -20px;
  &::before {
    content: 'My Bag: 2 item(s)';
    display: block;
    width: 132px;
    height: 27px;
    background-color: $colorBackground-White;
    position: absolute;
    top: -28px;
    right: -1px;
    border: 1px solid $colorBorder-Gray;
    border-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .my-bag-title {
    @include fontArial(14px, 18px, 400);
    text-transform: none;
    color: $colorFonts-MidleGrayOne;
    padding-bottom: 17px;
  }
  .my-bag-card {
    display: flex;
    margin-bottom: 20px;
    height: 104px;
    .bag-card-image {
      min-width: 80px;
      background-color: $colorBackground-Gray;
      @include fontArial(13px, 22px, 700);
      text-transform: uppercase;
      color: $colorFonts-White;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }
    .bag-product-name {
      @include fontMerriweather(13px, 17px, 400);
      text-transform: none;
      color: $colorFonts-Gray;
      padding-bottom: 13px;
    }
    .bag-product-price {
      @include fontCousine(14px, 17px, 700);
      color: $colorFonts-BlackTwo;
      span {
        color: $colorFonts-MidleGrayOne;
        text-decoration: line-through;
      }
    }
  }
  .my-bag-total {
    display: flex;
    justify-content: space-between;
    padding-bottom: 11px;
    p {
      @include fontCousine(13px, 18px, 700);
      text-transform: uppercase;
      color: $colorFonts-MidleGrayTwo;
      span {
        @include fontCousine(15px, 18px, 700);
        color: $colorFonts-BlackTwo;
      }
    }
  }
  .my-bag-content-links {
    height: 30px;
    background-color: $colorBackground-LightGrayOne;
    border: 2px solid $colorFonts-Gray;
    display: flex;
    align-items: center;
    a {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      @include fontMerriweather(13px, 0, 700);
      text-transform: uppercase;
      color: $colorFonts-Gray;
      &:hover {
        color: $colorFonts-Red;
      }
    }
    .line {
      width: 2px;
      height: 16px;
      background-color: $colorFonts-Gray;
    }
  }
}
.my-bag {
  @include fontMerriweather(11px, 19px, 400);
  text-transform: uppercase;
  color: $colorFonts-MidleGrayOne;
  &:hover {
    cursor: pointer;
  }
  &:hover .my-bag-content {
    display: flex;
    z-index: 12;
  }
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 18;
  font-size: 18px;
  padding-left: 19px;
}

.header-buttom {
  position: relative;
  width: 100vw;
  height: 103px;
  background-color: $colorBackground-White;
  display: flex;
  justify-content: center;
  padding-top: 19px;
  .container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
  }
}

.header-logo {
  display: flex;
  align-items: end;
  padding-bottom: 16px;
  img {
    width: 47px;
    height: 33px;
  }
  h1 {
    @include fontMerriweather(45px, 32px, 700);
    color: $colorFonts-BlackOne;
    padding-left: 12px;
  }
}

.menu-search {
  width: 67%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-menu {
  width: 100%;
  height: 100%;
  .header-menu-list {
    display: flex;
    justify-content: space-between;
    height: 100%;
    li {
      list-style: none;
      height: 100%;
      display: flex;
      align-items: center;
      a {
        @include fontCousine(14px, 19px, 700);
        text-transform: uppercase;
        color: $colorFonts-Gray;
        text-decoration: none;
      }
    }
  }
  .fashion:hover .fashion-box {
    display: grid;
  }
}

.search-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  form {
    display: flex;
    width: 260px;
    height: 32px;
    background-color: $colorBackground-White;
    border: 1px solid $colorBackground-ightGrayTwo;
    &:active .search-button {
      background-color: $colorBackground-ightGrayTwo;
      border: 1px solid $colorBackground-ightGrayTwo;
    }
    .search-field {
      width: 100%;
      padding: 10px 35px 10px 15px;
      border: none;
      outline: none;
      &::placeholder {
        @include fontTrebuchet(13px, 19px, 400);
        color: $colorFonts-MidleGrayOne;
      }
    }
    .search-button {
      width: 37px;
      height: 30px;
      background-color: transparent;
      border: none;
      outline: none;
    }
    .search-button img {
      width: 16px;
      height: 16px;
      object-fit: cover;
      filter: brightness(0) saturate(100%) invert(59%) sepia(15%)
        saturate(15%) hue-rotate(325deg) brightness(88%) contrast(90%);
    }
  }
}
.slide-page {
  height: 1070px;
  background-color: $colorBackground-Gray;
}

.fashion-box {
  position: absolute;
  top: 103px;
  left: 290px;
  width: 1170px;
  height: 483px;
  background-color: $colorBackground-White;
  border: 1px solid $colorBorder-Gray;
  padding: 40px 15px;
  display: none;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: 1fr 130px;
  row-gap: 60px;
  column-gap: 42px;
  .block-image {
    background-color: $colorBackground-Gray;
  }
  .clothing {
    grid-area: 1 / 1 / 2 / 4;
  }
  .shoes {
    grid-area: 1 / 4 / 2 / 7;
  }
  .accessories {
    grid-area: 1 / 7 / 2 / 10;
  }
  .sports {
    grid-area: 1 / 10 / 2 / 13;
  }
  .dresses {
    grid-area: 1 / 13 / 2 / 16;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    h1 {
      @include fontMerriweather(25px, 25px, 800, 0.025em);
      text-transform: uppercase;
      color: $colorFonts-White;
    }
    h2 {
      @include fontRoboto(20px, 17px, 700);
      text-transform: uppercase;
      padding-top: 10px;
      color: $colorFonts-White;
    }
    p {
      @include fontArial(13px, 25px, 700);
      text-transform: uppercase;
      color: $colorFonts-White;
      padding-top: 35px;
    }
  }
  .new-arrivals {
    grid-area: 2 / 1 / 3 / 6;
    display: flex;
    padding: 6px;
    .new-arrivals-size {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include fontArial(15px, 32px, 400);
      text-transform: uppercase;
      color: $colorFonts-White;
    }
    .new-arrivals-description {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;
      h2 {
        @include fontRoboto(20px, 32px, 700);
        text-transform: uppercase;
        color: $colorFonts-BlackTwo;
      }
      .for {
        display: flex;
        align-items: center;
        .for-line {
          width: 45px;
          height: 1px;
          border: 2px solid #000000;
        }
        p {
          @include fontMerriweather(15px, 32px, 700);
          font-style: italic;
          color: $colorFonts-BlackTwo;
          padding-inline: 10px;
        }
      }
      h1 {
        @include fontMerriweather(34px, 32px, 800);
        text-transform: uppercase;
        color: $colorFonts-BlackTwo;
      }
    }
  }
  .designer-shoes {
    grid-area: 2 / 6 / 3 / 11;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      @include fontRoboto(35px, 32px, 700);
      text-transform: uppercase;
      color: $colorFonts-White;
    }
  }
  .bags-under {
    grid-area: 2 / 11 / 3 / 16;
    display: flex;
    .bags-under-description {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        @include fontMerriweather(36px, 32px, 800);
        text-transform: uppercase;
        color: $colorFonts-White;
      }
      h2 {
        @include fontRoboto(29px, 32px, 700);
        text-transform: uppercase;
        color: $colorFonts-White;
      }
    }
  }
  &__nav {
    h3 {
      display: flex;
      @include fontCousine(15px, 19px, 700);
      text-transform: uppercase;
      color: $colorFonts-MidleGrayTwo;
      padding-bottom: 12px;
      span {
        width: 100%;
        border-bottom: 1px solid $colorBackground-ightGrayTwo;
      }
    }
    .fashion-box__nav-list {
      list-style: none;
      li {
        a {
          @include fontArial(14px, 30px, 400);
          color: $colorFonts-MidleGrayTwo;
          text-decoration: none;
          &:hover {
            color: $colorFonts-Red;
          }
        }
      }
    }
  }
}
